style
  include style.css
  
img(src="#{rootPath}/images/logo.png")
br
h1 Hola, #{name}

p Un alumno acaba de publicar solicitando una clase en el Wall/Calendario de alumnos. Para ver los detalles de la solicitud y aceptarla si desea ingrese al calendario de alumnos dentro de su cuenta de profesor.
br
p La clase solicitada es el #{date} a las #{time} por el alumno #{studentName}.
br
p Recuerde que cualquier profesor puede aceptar la solicitud, pero debe cumplirla. Incumplimiento o cancelaci&oacuten de la misma implicar&aacute observaciones negativas en el perfil del profesor.







