style
  include style.css
  
img(src="#{rootPath}/images/logo.png")
br
h1 Hola #{name},
p En otro mail se le acaba de informar que el profesor con el que usted ten&iacute;a una reserva cancel&oacute;.
p Los detalles de la reserva cancelada son los siguientes:
p Fecha de la clase: #{date}
p Como la cancelaci&oacute;n se hizo con menos de 2 Horas de anticipaci&oacute;n, adem&aacute;s de devolverle su token autom&aacute;ticamente, le ofrecemos como compensaci&oacute;n un 2x1 en su siguiente compra. Es decir si compra 1 token se le asignar&aacute; otro a la cuenta gratis.
br
p Quedamos atentos a cualquier solicitud y ofrecemos disculpas
p Spanishpro.net
p ---------------------------------------------------------------------------------------------------------------
br
h1 Hello #{name},
p In a previous mail, you have just being informed that a teacher with whom you had class had just cancelled.
p The details of the reservation that had just been cancelled are the following:
p Date and time  of the class: #{date}
p Because the cancelation was made with less than 2 hours in advance, besides giving you automatically back your token, we offer you as a compensation a 2x1 promotion on your next purchase. In other words, if you buy one token, you will get another one for free.
br
p Sorry for the inconvenience,
p Spanishpro.net







