style
  include style.css

img(src="#{rootPath}/images/logo.png")

p Confirmaci&oacute;n de reserva:
h1  Hola #{studentName},
p Gracias por haber reservado en Spanishpro.net a trav&eacute;s del &quot;Wall/Calendario de profesores&quot;
p Sus detalles de reserva son los siguientes:
p Fecha de la clase: #{date}
p Profesor: #{teacherName}
p Usuario Skype profesor: #{teacherSkype}
p Su balance anterior era: #{oldTokens} Tokens
p Su nuevo balance es: #{newTokens} Tokens
p Por favor agregue al profesor a Skype para que la clase pueda ser comenzada a tiempo.
p Si hay alg&uacute;n error, por favor comun&iacute;quese al correo de contacto del sitio web y recibir&aacute; respuesta a su solicitud con la mayor brevedad posible.
p * Podr&aacute; cancelar hasta con 30 minuto de anticipaci&oacute;n y se le devolver&aacute; el token usado

p ---------------------------------------------------------------------------------------------------------------

p Booking confirmation:
h1 Hello #{studentName},
p Thank you for making a reservation at Spanishpro.net, through the &quot;Wall/Calendar of teachers&quot;
p Your booking details are the following:
p Date and time of the class:  #{date}
p Teacher: #{teacherName}
p Teacher's Skype username: #{teacherSkype}
p Your previous balance was: #{oldTokens} Tokens
p Your new balance is: #{newTokens} Tokens
p Please add the teacher to your Skype account, so that the class will be started on time with no problems.
p If there is any mistake, please send an email to the website contact email and you will receive a response for your request as soon as possible.
p  *You will be able to cancel with a minimun of 30 minutes before the class to get a full refund.


