style
  include style.css

img(src="#{rootPath}/images/logo.png")

p Confirmaci&oacute;n de registro:
h1 Hola #{name},
p Gracias por haberse registrado en Spanishpro.net.
p Desde ahora puede hacer uso de su clase gratis de prueba de 30 minutos. Puede revisar en su perfil y ver&aacute; que tiene un cr&eacute;dito de cortes&iacute;a de Spanishpro.net. 
p Reserve a cualquier profesor en el &quot;Wall/Calendario de profesores&quot; o publique la hora en que desea que le den clase en el &quot;Wall/Calendario de alumnos&quot;. Si toma la hora de un profesor en el Wall/Calendario la reserva ser&aacute; autom&aacute;tica. Si decide publicar una hora en el Wall/Calendario de alumnos  se le informar&aacute; cuando se haga efectiva la reserva y los datos del profesor.
p Posteriormente podr&aacute; acceder a descuentos para la compra de clases.
p Disfrute las clases y mejore su espa&ntilde;ol de la mejor forma: practic&aacute;ndolo!!!
p Cualquier duda favor escribir al correo de contacto del administrador.

p Es un gusto tenerle como alumno y esperamos contar con su retroalimentaci&oacute;n.

p Valida tu email haciendo con el siguiente link:
a(href="#{rootPath}/index.html#/reset_password?userId=#{userId}") Aqui


p ---------------------------------------------------------------------------------------------------------------
p Confirmation of registration:
h1 Hello #{name},
p Thank you for registering at Spanishpro.net.
p From this moment you can use your free credit for a trial class of 30 minutes. You can check your profile and you will see you have a courtesy credit form Spanishpro.net.
p Reserve any teacher from the &quot;Wall/Calendar of teachers&quot; or publish any hour in which you would like to receive class in the &quot;Wall/Calendar of students&quot;. If you chose to take or reserve one of the hours that the teachers published on the Wall/Calendar the reserve will be automatic. If you decided to publish an hour on the Wall/Calendar of students, you will be informed when the reserve is confirmed along with the basic information from the teacher.
p Afterwards, you will be able to access discounts when you buy your first clases.
p Enjoy the clases and upgrade your level of spanish with the best way: Just practicing!!!
p If you have any doubt, contact the administration contact email.
br 
p It is a pleasure having you as a student and we are looking forward for your feedback.

p Validate your email by using the following link
a(href="#{rootPath}/index.html#/reset_password?userId=#{userId}") Aqui