style
  include style.css

img(src="#{rootPath}/images/logo.png")
h1 Hola #{name},
p Usted acaba de publicar una hora en la que quiere que alg&uacute;n profesor le dicte clase en el &quot;Wall/Calendario de alumnos&quot;
p Sus detalles de publicaci&oacute;n son los siguientes:
p Fecha de la clase: #{date}
p Se le avisar&aacute; cuando un profesor tome la hora y la reserva se haga efectiva. En ese momento se le deducir&aacute; el token, no antes.
p Usted est&aacute; en libertad de cancelar la publicaci&oacute;n cuando desee en su perfil.
p Si hay alg&uacute;n error, puede eliminar sin problema alguno su publicaci&oacute;n.

p ---------------------------------------------------------------------------------------------------------------

h1 Hello #{name},
p You have just published a class request on the &quot;Wall/Calendar of students&quot;.
p The details of your publication are the following:
p Date and time  of the class: #{date}
p You will be informed when a techer decides to pick the hour to give you the class. In that momento the reservation will be made and only then, the token will be deducted from your account.
p Your are free to cancell the publication whenever you want  by going to your profile.


