style
  include style.css

img(src="#{rootPath}/images/logo.png")

p Confirmaci&oacute;n de reserva:
h1 Hola #{teacherName},
p Un alumno reserv&oacute; una de sus horas a trav&eacute;s del &quot;Wall/Calendario de profesores&quot;
p Sus detalles de reserva son los siguientes:
p Fecha de la clase: #{date}
p Alumno: #{studentName}
p Email: #{email}
p Ocupaci&oacute;n del usuario: #{occupation}
p Fecha de Nacimiento del usuario: #{dayofBirth}
p Hobbies del estudiante:#{hobbies},
p Experticia del estudiante: #{expertice}
p Usuario de Skype: #{skype}
p
  b #{firstClass}
p Por favor revise el perfil del estudiante para hacer m&aacute;s personalizada la clase y agregue en Skype desde este momento al estudiante. Aseg&uacute;rese que eso no sea un problema que demore el inicio de la clase.
p Si hay alg&uacute;n error, por favor comun&iacute;quese al correo de contacto del sitio web y recibir&aacute; respuesta a su solicitud con la mayor brevedad posible.
p *Podr&aacute; cancelar hasta con 2 horas de anticipaci&oacute;n y no ser&aacute; considerada una falta grave. En todo caso evite cancelar, ya que esto afecta su reputaci&oacute;n con el administrador.
p **Cancelaciones con mayor brevedad ser&aacute;n consideradas &quot;Faltas graves&quot; y afectar&aacute;n el expediente del profesor

