style
  include style.css
  
img(src="#{rootPath}/images/logo.png",class="logo")

h1(logo="title") Hola #{name},
p Acaba de solicitar una recuperaci&oacute;n de su clave.
p Para continuar con el proceso:
a(href="#{rootPath}/reset_password.html#/home?userId=#{userId}") Haga click aqui

p Disfrute las clases y mejore su espa&ntilde;ol de la mejor forma: practic&aacute;ndolo!!!
p Cualquier duda favor escribir al correo de contacto del administrador.

p Es un gusto tenerle como alumno y esperamos contar con su retroalimentaci&oacute;n.
br
br
p ---------------------------------------------------------------------------------------------------------------
br
br
h1 Hello #{name},
p To Continue:
a(href="#{rootPath}/reset_password.html#/home?userId=#{userId}") Click here

p Enjoy the clases and upgrade your level of spanish with the best way: Just practicing!!!
p If you have any doubt, contact the administration contact email.

p It is a pleasure having you as a student and we are looking forward for your feedback.


