style
  include style.css

img(src="#{rootPath}/images/logo.png")


p Confirmaci&oacute;n de compra:
h1 Hola #{name},
p Gracias por haber comprado en Spanishpro.net. 
p Sus detalles de compra son los siguientes:
p Combo comprado: #{combos}
p Con un total de: #{totalTokens} Tokens incluidos en el paquete
p Su balance anterior era: #{oldUserTokens} Tokens
p Su nuevo balance es: #{newUserTokens} Tokens
p Si hay alg&uacute;n error, porfavor comun&iacute;quese al correo de contacto del sitio web y recibir&aacute; respuesta a su solicitud con la mayor brevedad posible.

p ---------------------------------------------------------------------------------------------------------------

p Purchase confirmation:
h1 Hello #{name},
p Thank you for buying at Spanishpro.net. 
p Your purchase details are the following:
p Package bought: #{combos}
p With a total of: #{totalTokens} Tokens included
p Your last balance was: #{oldUserTokens} Tokens
p Your new balance is: #{newUserTokens}  Tokens
p If there is any mistake, please send an email to the website contact email and you will receive a response for your request as soon as possible


