style
  include style.css
  
img(src="#{rootPath}/images/logo.png")
br
h1 Hola #{name},
p El profesor con el que usted ten&iacute;a una clase acaba de cancelar. 
p Sus detalles de la reserva que acaba de ser cancelada son:
p Fecha de la clase: #{date}
p Su Token acaba de ser autom&aacute;ticamente devuelto. Si la cancelaci&oacute;n fue realizada con menos de 2 horas de anticipaci&oacute;n, se le enviar&aacute; un correo con una promoci&oacute;n especial en compensaci&oacute;n.
p Disculpas por los inconvenientes, nuestros profesores nunca deben cancelar, pero las emergencias a veces ocurren.
br
p Esperamos su pr&oacute;xima reserva, 
p Saludos,
p Spanishpro.net
br
p ---------------------------------------------------------------------------------------------------------------
br
h1 Hello #{name},
p The teacher with whom you had a class reserved has just cancelled.
p The details of the reservation that had just been cancelled are the following:
p Date and time  of the class: #{date}
p Your token was automatically returned. If the cancelation was made with less than 2 hours in advance, you will receive an email with a special promotion as a compensation for the late cancelation.
p Sorry for the inconvenience, our teachers should never cancel, however sometimes emergencies happen.
br
p We are looking forward for your next reservation. 
br
p Regards,
p Spanishpro.net




